<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create Dream</title>
 </head>
 <body>
   <h1>Create a Dream!</h1>

   <form method="POST" action="/dreams">
   Date: <input type="date" name="date">
   Keywords: <input type="string" name="keywords">
   Hours Slept: <input type="float" name="hours_slept">
   Lucid Dream: <input type="boolean" name="lucid_dream?">
   Summary: <input type="string" name="summary">
   <input type="submit" value="submit">
   </form>



 </body>
</html>
