<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create Dream</title>
 </head>
 <body>
   <h1>*Create a Dream*</h1>

   <form method="POST" action="/dreams">
   Date: <input type="date" name="date"><br><br>
   Keywords: <input type="string" name="keywords"><br><br>
   Hours Slept: <input type="float" name="hours_slept"><br><br>
   Lucid Dream: <input type="boolean" name="lucid_dream?"><br><br>
   Summary: <input type="string" name="summary"><br><br>
   <input type="submit" value="submit">
   </form>



 </body>
</html>
