<h1>Your Dream Journal</h1>

<h4>Dreams:</h4>

<ul>
  <% @user.dreams.each do |dream|%>
  <a href="/dreams/<%= dream.id %>">
  <%= dream.summary %></a>
  <% end %>
</ul>

<p><a href="/dreams/new">New Dream</a></p>


<p><a href="/logout">Log Out</a></p>
